In [1]:
#imports
import pandas as pd
import os

In [2]:
# determine the current working directory to make it easier to find file paths
os.getcwd()

'D:\\Paper\\red-flag-text-detection-main\\data'

In [6]:
# read the processed csv file for the first training dataset, and convert it to a pandas dataframe
set1_df = pd.read_csv("../source_data/depression/set1/set1_processed.csv", delimiter=",")
set1_df.head()

,Unnamed: 0,id,created_at,text,source,sentiment,label
0,0,870430762255953920,Fri Jun 02 00:04:00 +0000 2017,"Hey, look - I found my social anxiety again. W...","<a href=""http://tapbots.com/software/tweetbot/...",-1,1
1,1,870430770141253632,Fri Jun 02 00:04:02 +0000 2017,RT @shannonpurser: Depression sucks. I'm in th...,"<a href=""http://twitter.com/download/iphone"" r...",-1,1
2,2,870430771592413187,Fri Jun 02 00:04:02 +0000 2017,RT @HRoyalThighness: Lol my social anxiety goe...,"<a href=""http://twitter.com/download/iphone"" r...",-1,1
3,3,870430772800479233,Fri Jun 02 00:04:02 +0000 2017,"How to Deal with Stress, Anxiety and Bipolar D...","<a href=""http://www.hootsuite.com"" rel=""nofoll...",-1,1
4,4,870430776432644096,Fri Jun 02 00:04:03 +0000 2017,RT @COCONUTOILBAE: when you want to be friends...,"<a href=""http://twitter.com/download/iphone"" r...",0,0

In [7]:
# read the processed csv file for the second training dataset, and convert it to a pandas dataframe
set2_df = pd.read_csv("../source_data/depression/set2/set2_processed.csv", delimiter=",")
set2_df.head()

,Unnamed: 0,text,subreddit,label,pos,neg,id
0,6,Where should I read my college required readin...,cc,0,0.000,0.000,0
1,7,"Your and You’re An easy way to remember it, fo...",cc,0,0.078,0.066,1
2,8,"did i miss a day? oh poop. well, halfway to 5 ...",cc,0,0.353,0.028,2
3,9,My flight just got delayed for super long.. wh...,cc,0,0.065,0.032,3
4,11,a Thank you guys so much for responding. I rea...,sw,1,0.422,0.000,4

In [15]:
# create a combined dataframe that will include all of the data used for training/evaluation, then fill it in with the data, ids, and labels from the set 1 dataframe
combined_df = set1_df[["id", "text", "label"]]
combined_df=combined_df.copy()
combined_df["source_data"] = "set1"
combined_df.head()

,id,text,label,source_data
0,870430762255953920,"Hey, look - I found my social anxiety again. W...",1,set1
1,870430770141253632,RT @shannonpurser: Depression sucks. I'm in th...,1,set1
2,870430771592413187,RT @HRoyalThighness: Lol my social anxiety goe...,1,set1
3,870430772800479233,"How to Deal with Stress, Anxiety and Bipolar D...",1,set1
4,870430776432644096,RT @COCONUTOILBAE: when you want to be friends...,0,set1

In [16]:
# add the contents of the set 2 dataframe to the combined dataframe
set2_extract = set2_df[["id", "text", "label"]]
set2_extract=set2_extract.copy()
set2_extract["source_data"] = "set2"
combined_df = pd.concat([combined_df,set2_extract])
combined_df.tail()

,id,text,label,source_data
1485,1485,Does anyone else feel a little jolt of happine...,0,set2
1486,1486,Last time I took a personality test was a year...,0,set2
1487,1487,Tried making a smoothie tonight coz I didn't e...,0,set2
1488,1488,I hate literal translation sometimes I was try...,0,set2
1489,1489,What was your favorite thing about last Thursd...,0,set2

In [17]:
# export the final combined dataframe to a csv file
combined_df.to_csv("./depressive_speech/depressive_speech.csv", index=False)